vendor/
/.idea/
composer.lock
/example/tests/files/.cache
/node_modules/
documentation/core
documentation/README.md
*.cache
handlers/*/composer.lock
/example/tests/logfiles/
/documentation/event_hook/logfiles/
/.phpswap
